body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #add8e6;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_video {
  display: none;
}

.output_canvas {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}